__pycache__
/assets/
/models/
/kitti_data/
/nyu_data/
/kitti_mono_post/
/kitti_mono_log/
/nyu/
/Images/
/.idea/
/weights/
/experiments/
/monodepth2/assests/
/monodepth2/experiments/
*.pyc
*_disp.jpg
*_disp.npy
*.npz
*.zip 
*.sh
